.main-container{
    background-color: hsl(267, 22%, 18%);
    width: 100%;
    min-width: 1500px;
    height: 60rem;
    display: flex;
    justify-content: center;
}


.grid{
    
    width: 80%;
    height: 70%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
