.path-main-container{
    background-color: hsl(267, 22%, 18%);
    width: 100%;
    min-width: 1500px;
    height: auto;
    padding: 0% 5%;
    padding-bottom: 6%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.bottom-container{
    width: 80%;
    height: 70%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.grid{
    width: 70%;
    height: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
